<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riskcontrol.dao.CodeTemplateMapper">
    <resultMap id="BaseResultMap" type="com.riskcontrol.domain.CodeTemplate">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="code_id" jdbcType="BIGINT" property="codeId" />
        <result column="code_state" jdbcType="INTEGER" property="codeState" />
        <result column="code_name" jdbcType="VARCHAR" property="codeName" />
        <result column="code_code" jdbcType="VARCHAR" property="codeCode" />
        <result column="code_status" jdbcType="TINYINT" property="codeStatus" />
        <result column="code_type" jdbcType="TINYINT" property="codeType" />
        <result column="code_url" jdbcType="VARCHAR" property="codeUrl" />
        <result column="code_text" jdbcType="LONGVARCHAR" property="codeText" />
        <result column="number_production_rod" jdbcType="DECIMAL" property="numberProductionRod" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>

    <sql id="Base_Column_List">
        id, subscription_id, code_id, code_state, code_name, code_code, code_status, code_type,
        code_url, code_text, number_production_rod, remark, is_deleted, create_by, gmt_create,
        update_by, gmt_modified
    </sql>
</mapper>
