<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riskcontrol.dao.PositionHistoryMapper">
    <resultMap id="BaseResultMap" type="com.riskcontrol.domain.PositionHistory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="position_date" jdbcType="DATE" property="positionDate" />
        <result column="conid" jdbcType="BIGINT" property="conid" />
        <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
        <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
        <result column="position_qty" jdbcType="DECIMAL" property="positionQty" />
        <result column="avg_cost" jdbcType="DECIMAL" property="avgCost" />
        <result column="unrealized_pnl" jdbcType="DECIMAL" property="unrealizedPnl" />
        <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
        <result column="market_value" jdbcType="DECIMAL" property="marketValue" />
        <result column="realized_pnl" jdbcType="DECIMAL" property="realizedPnl" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_id" jdbcType="BIGINT" property="modifiedId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, position_date, conid, account_code, model_code, position_qty, avg_cost, 
        unrealized_pnl, market_price, market_value, realized_pnl, deleted, create_id, 
        create_time, modified_id, modified_time
    </sql>

    <select id="queryPage" resultType="com.riskcontrol.domain.vo.position.PositionHistoryPage">
        SELECT
            ph.id,
            ph.position_date,
            ph.conid,
            ph.symbol,
            ph.account_code,
            ph.model_code,
            ph.cal_position_qty,
            ph.cal_avg_cost,
            ph.cal_unrealized_pnl,
            ph.cal_realized_pnl,
            ph.cal_market_price,
            ph.market_value,
            ph.cal_daily_unrealized_pnl,
            ph.cal_daily_realized_pnl,
            ph.modified_time,
            ph.sec_type,
            ph.multiplier,
            ph.acc_commission_and_fees
        FROM
            position_history ph
        LEFT JOIN contract c ON ph.conid = c.conid
        WHERE
            1=1
            <if test="query.positionDate != null and query.positionDate != ''">
                AND ph.position_date = #{query.positionDate}
            </if>
            <if test="query.accountCodes != null and query.accountCodes.size() > 0">
                AND ph.account_code IN
                <foreach collection="query.accountCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.conids != null and query.conids.size() > 0">
                AND ph.conid IN
                <foreach collection="query.conids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.modelCodes != null and query.modelCodes.size() > 0">
                AND ph.model_code IN
                <foreach collection="query.modelCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.symbol != null and query.symbol != ''">
                AND ph.symbol LIKE CONCAT('%', #{query.symbol}, '%')
            </if>
        ORDER BY ph.position_date DESC
    </select>
</mapper>
