<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riskcontrol.dao.PositionRelationHistoryMapper">
    <resultMap id="BaseResultMap" type="com.riskcontrol.domain.PositionRelationHistory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="daily_date" jdbcType="VARCHAR" property="dailyDate" />
        <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
        <result column="conid" jdbcType="INTEGER" property="conid" />
        <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
        <result column="trader_name" jdbcType="VARCHAR" property="traderName" />
        <result column="position_qty" jdbcType="DECIMAL" property="positionQty" />
        <result column="unrealized_pnl" jdbcType="DECIMAL" property="unrealizedPnl" />
        <result column="realized_pnl" jdbcType="DECIMAL" property="realizedPnl" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modified_id" jdbcType="BIGINT" property="modifiedId" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, daily_date, account_code, conid, strategy_name, trader_name, position_qty, 
        unrealized_pnl, realized_pnl, deleted, create_id, create_time, modified_id, modified_time
    </sql>

    <select id="sumPnlByDate" resultType="com.riskcontrol.domain.PositionRelationHistory">
        SELECT
            daily_date,
            sum(realized_pnl) realized_pnl,
            sum(unrealized_pnl) unrealized_pnl
        FROM
            position_relation_history
        WHERE daily_date between #{startDate} and #{endDate}
        GROUP BY
            daily_date
        ORDER BY daily_date
    </select>

    <select id="queryPage" resultType="com.riskcontrol.domain.vo.positionrelation.PositionRelationHistoryPage">
        SELECT
            prh.id,
            prh.daily_date,
            prh.account_code,
            prh.conid,
            prh.strategy_name,
            prh.trader_name,
            prh.position_qty,
            prh.unrealized_pnl,
            prh.realized_pnl,
            prh.commission_and_fees,
            prh.daily_unrealized_pnl,
            prh.daily_realized_pnl,
            prh.market_price,
            prh.avg_cost,
            prh.modified_time,
            prh.commission_and_fees,
            c.sec_type,
            c.multiplier,
            c.symbol
        FROM
            position_relation_history prh
        LEFT JOIN contract c ON prh.conid = c.conid
        WHERE
            1=1
            <if test="query.dailyDate != null and query.dailyDate != ''">
                AND prh.daily_date = #{query.dailyDate}
            </if>
            <if test="query.accountCodes != null and query.accountCodes.size() > 0">
                AND prh.account_code IN
                <foreach collection="query.accountCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.conids != null and query.conids.size() > 0">
                AND prh.conid IN
                <foreach collection="query.conids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.strategyNames != null and query.strategyNames.size() > 0">
                AND prh.strategy_name IN
                <foreach collection="query.strategyNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.tradeNames != null and query.tradeNames.size() > 0">
                AND prh.trader_name IN
                <foreach collection="query.tradeNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.secType != null and query.secType != ''">
                AND c.sec_type = #{query.secType}
            </if>
        ORDER BY prh.daily_date DESC
    </select>

    <select id="getTop10Profit" resultType="com.riskcontrol.domain.vo.dashboard.DailyProfitTop10">
        SELECT
            prh.conid,
            c.symbol,
            SUM(prh.realized_pnl) AS realizedPnl,
            SUM(prh.unrealized_pnl) AS unrealizedPnl,
            SUM(prh.realized_pnl) + SUM(prh.unrealized_pnl) AS totalPnl
        FROM
            position_relation_history prh
        LEFT JOIN contract c ON prh.conid = c.conid
        WHERE
            1=1
            <if test="query.dailyDate != null and query.dailyDate != ''">
                AND prh.daily_date = #{query.dailyDate}
            </if>
            <if test="query.accountCodes != null and query.accountCodes.size() > 0">
                AND prh.account_code IN
                <foreach collection="query.accountCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.tradeNames != null and query.tradeNames.size() > 0">
                AND prh.trader_name IN
                <foreach collection="query.tradeNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.strategyNames != null and query.strategyNames.size() > 0">
                AND prh.strategy_name IN
                <foreach collection="query.strategyNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        GROUP BY prh.conid, c.symbol
        ORDER BY totalPnl DESC
        LIMIT 10
    </select>

    <select id="getAssetSecTypeRatio" resultType="com.riskcontrol.domain.vo.dashboard.AssetSecTypeRatio">
        SELECT
            c.sec_type AS secType,
            COUNT(DISTINCT prh.conid) AS count
        FROM
            position_relation_history prh
        LEFT JOIN contract c ON prh.conid = c.conid
        WHERE
            1=1
            <if test="query.dailyDate != null and query.dailyDate != ''">
                AND prh.daily_date = #{query.dailyDate}
            </if>
            <if test="query.accountCodes != null and query.accountCodes.size() > 0">
                AND prh.account_code IN
                <foreach collection="query.accountCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.tradeNames != null and query.tradeNames.size() > 0">
                AND prh.trader_name IN
                <foreach collection="query.tradeNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.strategyNames != null and query.strategyNames.size() > 0">
                AND prh.strategy_name IN
                <foreach collection="query.strategyNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        GROUP BY c.sec_type
        ORDER BY count DESC
    </select>
</mapper>
